<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">AcneAi</div>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('predict_page') }}">Predict</a></li>
        <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
        <li><a href="{{ url_for('training_stats') }}">Training Stats</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
